<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div id="center">
    <h2>Login</h2>
    {% if error %}
    <span style="color:crimson"><i>{{error}}</i></span>
    {% endif %}
    <form action="/login" method="POST">
        login: <br>
        <input type="text" name="user"><br>
        pass: <br>
        <input type="password" name="pass"><br>
        <input type="submit" value="log">
    </form>
        <h2>Not registered yet?</h2>
        <h3>
            <a href="/register">sign in</a>
        </h3>
    </div>
</body>
</html>