<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div id="center">
        {% if error %}
        <span id="error"></span>
        {% endif %}

        {% if user %}
        <h1>To Do List</h1>
        {% for i in todo %}
        <li>{{i}}</li>
        {% endfor %}

        <br><br>
        <form action="/add" method="POST">
            add item: <br>
            <select name="user">
                <option value={{user}}>{{user}}</option>
            </select>
            <input type="text" name="item"> <br>
            <input type="submit" value="add item">
        </form>

        <br><br>
        <form action="/rm" method="post">
            remove item: <br>
            <select name="user">
                <option value={{user}}>{{user}}</option>
            </select>
            <select name="remove">
                {% for i in todo %}
                <option value={{i}}>{{i}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="remove item">
        </form>
        {% else %}
        <h1><b style="color:crimson">Unauthorized</b></h1>
        {% endif %}
    </div>
</body>
</html>