<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div id="center">
        {% if error %}
        <span style="color:crimson"><i>{{error}}</i></span>
        {% endif %}
        <form action="/reg" method="POST">
        username: <br>
        <input type="text" name="user"> <br>
        password: <br>
        <input type="password" name="password1"> <br>
        confirm password: <br>
        <input type="password" name="password2"> <br>
        <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>